<a href="https://colab.research.google.com/github/aqmaqmalkhano/Pemerograman-Dasar/blob/main/Pertemuan_2%20(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# deklarasi variabel list
numbers = [23, 43, 15, 34]
# cara mengakses elemen dalam variabel list
numbers [0]  # 23
numbers [1]  # 43
numbers [2]  # 15
numbers [3]  # 34
#cara mengubah nilai elemen dalam variabel list
numbers [2] # 51
numbers [2] = 51

print (numbers [0])
print (numbers [1])
print (numbers [2])
print (numbers [3])
print (numbers)

23
43
51
34
[23, 43, 51, 34]

In [4]:

firstName = "AQM AQMAL"
lastName = "KHANO"
age = 20
isMarried= False


print("First Name :", firstName)
print("Last Name  :", lastName)
print("Age        :", age)
print("Married    :", isMarried)

First Name : AQM AQMAL
Last Name  : KHANO
Age        : 20
Married    : False

In [5]:
data_diri = {
    "firstName": "AQM AQMAL",
    "lastName" : "KHANO",
    "age" : 20,
    "isMarried" : False
}


print("Personal Data:")
print("First Name :", data_diri["firstName"])
print("Last Name:", data_diri["lastName"])
print("Age:", data_diri["age"])
print("Married:", data_diri["isMarried"])

Personal Data:
First Name : AQM AQMAL
Last Name: KHANO
Age: 20
Married: False